.post-content{
  max-width: 600px;
  margin: 10px auto ;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}

.datePost{
  color: var(--yellow-dark-color);
  text-align: end;
  padding: 0;
}

.noPostsP{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 14px;
  background-color: rgba(156, 156, 156, 0.753);
  width: 190px;
}
